@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.navbar div {
  width: 80%;
  height: 40px;
  padding: 12px 20px;

  color: white;
  background: hsl(280, 68%, 50%);

  border-radius: 0px 0px 16px 16px;
}

.center-form-Dashboard{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-cards {
  width: 65%;
  font-weight: 500;
  color: #393939;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 12px;
}
 
.dashboard-cards div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 100px;
  padding: 8px 18px;
  border: 2px solid hsla(280, 68%, 70%, 0.4);
  border-radius: 12px;

  box-shadow: 2px 2px 10px hsla(0, 0%, 40%, 0.2);
}

.length-Style{
  font-size: 18px;
  font-weight: 600;
  color: darkmagenta;
}

@media screen and (max-width: 1010px){
  .dashboard-cards{
    width: 90%;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dashboard-cards div{
    flex-direction: column;
    width: 100px;
    height: 60px;
    font-size: 14px;
    gap: 0px;
  }
}